<div class="container">
  <%= form_tag({controller: "admin/articles", action: "search"}, method: "get", class: "navbar-form navbar-left", role: "navigation") do %>
    <div class="form-group">
      <a class="btn btn-primary btn-lg" href="/admin/articles/new">New Article</a>
      <input type="text" class="form-control" placeholder="Article Title" id="q" name="q">
      <input name="commit" type="submit" value="Search" class="btn btn-success">
    </div>
<% end %>
</div>
<div class="category">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>image</th>
      <th>title</th>
      <th>created_at</th>
      <th>status</th>
      <th>operation</th>
    </tr>
    </thead>
    <tbody>
    <% @articles.each do |b| %>
        <tr>
          <td><%= b.id %></td>
          <td><%= image_tag(b.img, width: "60") if b.img? %></td>
          <td><%= link_to b.title,
                          {
                                  :controller => "articles",
                                  :action => "show",
                                  :id => "#{b.id}",
                                  :format => "html"
                          }
          %></td>

          <td><%= b.created_at.to_s(:long) %></td>
          <td>
            <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-small bootstrap-switch-animate">
              <div class="bootstrap-switch-container" style="">
                <input type="checkbox" name="lock_<%=b.id%>" <% if b.sblock === true %>checked<% end %> data-size="small" data-on-text="ON" data-off-text="OFF">
              </div>
            </div>
            <script>
                $('input[name="lock_<%=b.id%>"]').bootstrapSwitch();
                $('input[name="lock_<%=b.id%>"]').on('switchChange.bootstrapSwitch', function(event, state) {
                    $.post('/admin/articles/state',{ state: state ,aid:<%=b.id%> }, function(data) {
                        alert("message:" + data + <%=b.id%>);
                    });
                });
            </script>
          </td>
          <td>
            <%= link_to "edit",
                        {
                                :controller => "articles",
                                :action => "edit",
                                :id => b.id
                        }, class: "btn btn-success"
            %>
            <%= link_to "destroy",
                        {
                                :controller => "articles",
                                :action => "destroy",
                                :id => b.id
                        },
                        :method => 'delete',
                        class: "btn btn-danger",
                        data: {confirm: 'Are you sure?'}
            %>
          </td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>
<div class="pages">
  <%= paginate @articles, :theme => 'long' %>
</div>
</div>