<%= form_for [:admin, @article], :html => {:multipart => true, class: "form-horizontal", role: "form"} do |f| -%>
    <fieldset>
      <div id="legend" class="">
        <legend class="">New Article</legend>
      </div>
    </fieldset>

    <div class="form-group">
      <%= label_tag(:seotitle, "SEO Title", for: "inputseotitle", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= text_field(:article, :seotitle, class: "form-control", id: "inputseotitle", placeholder: "Seotitle") %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:keywords, "SEO Keywords", for: "inputkeywords", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= text_field(:article, :keywords, class: "form-control", id: "inputkeywords", placeholder: "keywords") %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:description, "SEO Description", for: "inputdescription", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= text_area(:article, :description, cols: 20, rows: 4, class: "form-control", id: "inputdescription",) %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:title, "Title", for: "inputtitle", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= text_field(:article, :title, class: "form-control", id: "inputtitle", placeholder: "title") %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
            <img data-src="holder.js/100%x100%" alt="...">
            <%= image_tag(@article.img) if @article.img? %>
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
          <div>
        <span class="btn btn-default btn-file">
          <span class="fileinput-new">Select image</span>
          <span class="fileinput-exists">Change</span>
          <%= file_field(:article, :img) %>
        </span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>
        <script>
            $('.fileinput').fileinput()
        </script>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:shortcontent, "Brief", for: "inputshortcontent", class: "col-sm-2 control-label") %>
      <div class="col-sm-10">
        <%= f.cktext_area :shortcontent, :class => 'form-control', :ckeditor => {:language => 'zh-CN'} %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:content, "Content", for: "inputcontent", class: "col-sm-2 control-label") %>
      <div class="col-sm-10">
        <%= f.cktext_area :content, :class => 'form-control', :ckeditor => {:language => 'zh-CN'} %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:sort, "Sort by", for: "inputsort", class: "col-sm-2 control-label") %>
      <div class="col-sm-4">
        <%= f.number_field(:sort, class: "form-control", id: "inputsort", placeholder: "sort") %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag(:searchkey, "Related Articles Keywords", for: "inputsearchkey", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= f.text_field(:searchkey, class: "form-control", id: "inputsearchkey", placeholder: "searchkey") %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag(:product_ids, "Related Products", for: "inputproduct_ids", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= f.select :product_ids, Product.all.collect { |x| [x.title, x.id] },
                     {:selected => @relateproducts.all.collect { |u| u.id }},
                     {:multiple => true, size: 10, class: "form-control"}

        %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :sblock, {}, 1, false %> Lock
          </label>
        </div>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Add article', :class => 'btn btn-success btn-lg' %>
      </div>
    </div>

<% end -%>