<%= form_for [:admin, @singlepage], :html => {class: "form-horizontal", role: "form"}  do |f| -%>
    <fieldset>
      <div id="legend" class="">
        <legend class="">Singlepage Edit</legend>
      </div>
    </fieldset>

    <div class="form-group">
      <%= label_tag(:seotitle, "SEO Title", for: "inputseotitle", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= f.text_field(:seotitle, class: "form-control", id: "inputseotitle", placeholder: "Seotitle") %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag(:keywords, "SEO Keywords", for: "inputkeywords", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= f.text_field(:keywords, class: "form-control", id: "inputkeywords", placeholder: "keywords") %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:description, "SEO Description", for: "inputdescription", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= f.text_area(:description, cols: 20, rows: 4, class: "form-control", id: "inputdescription",) %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:title, "Category Name", for: "inputtitle", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= f.text_field(:title, class: "form-control", id: "inputtitle", placeholder: "title") %>
      </div>
    </div>


    <div class="form-group">
      <%= label_tag(:shortcontent, "Brief", for: "inputshortcontent", class: "col-sm-2 control-label") %>
      <div class="col-sm-10">
        <%= f.cktext_area :shortcontent, :class => 'form-control', :ckeditor => {:language => 'zh-CN'} %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:content, "Content", for: "inputcontent", class: "col-sm-2 control-label") %>
      <div class="col-sm-10">
        <%= f.cktext_area :content, :class => 'form-control', :ckeditor => {:language => 'zh-CN'} %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag(:sort, "排序", for: "inputsort", class: "col-sm-2 control-label") %>
      <div class="col-sm-4">
        <%= f.number_field(:sort, class: "form-control", id: "inputsort", placeholder: "sort") %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag(:routename, "Route Name", for: "inputroutename", class: "col-sm-2 control-label") %>
      <div class="col-sm-6">
        <%= f.text_field(:routename, class: "form-control", id: "inputroutename", placeholder: "Route Name") %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :sblock, {}, 1, false %> Lock
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Update Singlepage', :class => 'btn btn-success btn-lg' %>
      </div>
    </div>

<% end -%>