<%= form_for [:admin, @category], :html => {:multipart => true} do |f| -%>

    <%= label_tag(:title, "SEO标题") %>
    <%= text_field(:category, :seotitle) %> <br/>
    <%= label_tag(:title, "SEO关键字") %>
    <%= text_field(:category, :keywords) %><br/>
    <%= label_tag(:title, "SEO描述") %>
    <%= text_area(:category, :description, cols: 20, rows: 4) %><br/>

    <%= label_tag(:title, "标题") %>
    <%= text_field(:category, :title) %><br/>

    <%= label_tag(:title, "图片") %>
    <%= image_tag(@category.img) if @category.img? %>
    <%= file_field(:category, :img) %><br/>

    <p>
      <label>
        <%= f.check_box :remove_img %>
        Remove img
      </label>
    </p>

    <%= label_tag(:title, "缩略图") %>
    <%= image_tag(@category.img_url(:thumb)) if @category.img? %>
    <%= file_field(:category, :thumb) %><br/>
    <p>
      <label>
        <%= check_box_tag :remove_thumb %>
        Remove img
      </label>
    </p>


    <%= label_tag(:title, "内容") %>
    <%= f.cktext_area :content, :class => 'content', :ckeditor => {:language => 'zh-CN'} %><br/>

    <%= label_tag(:title, "排序") %>
    <%= f.number_field :sort %><br/>

    <%= label_tag(:title, "路由名称") %>
    <%= f.text_field :routename %><br/>

    <%= label_tag(:title, "锁定") %>
    <%= f.check_box :sblock, {}, 1, false %><br/>
    <%= f.submit %>

<% end -%>