<%= form_tag({controller: "admin/categories", action: "search"}, method: "get", class: "navbar-form navbar-left", role: "navigation") do %>
    <div class="form-group">
      <a class="btn btn-primary btn-lg" href="/admin/categories/new">New Category</a>
      <input type="text" class="form-control" placeholder="category name" id="q" name="q">
      <input name="commit" type="submit" value="Search" class="btn btn-success">
    </div>
<% end %>
<div class="category">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>image</th>
        <th>title</th>
        <th>routename</th>
        <th>updated_at</th>
        <th>status</th>
        <th>operation</th>
      </tr>
      </thead>
      <tbody>
      <tr>
    <% @categories.each do |b|%>
          <tr>
            <td><%= b.id %></td>
            <td><%= image_tag(b.img_url(:thumb),width: "100") if b.img? %></td>
            <td><%= link_to b.title,
                            {
                                    :controller => "categories",
                                    :action => "show",
                                    :id => "#{b.id}",
                                    :format=>"html"
                            }
                %>
            </td>
            <td><%=topinyin(b.title)%></td>
            <td><%=b.updated_at.to_s(:long)%></td>
            <td>
              <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-on bootstrap-switch-small bootstrap-switch-animate">
                <div class="bootstrap-switch-container" style="">
                  <input type="checkbox" name="lock_<%=b.id%>" <% if b.sblock === true %>checked<% end %> data-size="small" data-on-text="ON" data-off-text="OFF">
                </div>
              </div>
              <script>
                  $('input[name="lock_<%=b.id%>"]').bootstrapSwitch();
                  $('input[name="lock_<%=b.id%>"]').on('switchChange.bootstrapSwitch', function(event, state) {
                      $.post('/admin/categories/state',{ state: state ,id:<%=b.id%> }, function(data) {
                      });
                  });
              </script>
            </td>
            <td>
              <a target="_blank" href="/<%= b.routename %>" class="btn btn-info">view</a>
              <%= link_to "edit",
                            {:controller => "categories",
                             :action => "edit",
                             :id=>b.id
                            },
                            class: "btn btn-success"
              %>
              <%= link_to "destroy",
                          {:controller => "categories",
                           :action => "destroy",
                           :id=>b.id
                          },
                          class: "btn btn-danger",
                          :method => 'delete',
                          data: { confirm: 'Are you sure?' }
            %>
            </td>
          </tr>
    <% end %>
        </tbody>
    </table>
  <div class="pages">
    <%= paginate @categories, :theme=>'long' %>
  </div>
</div>