<%= form_tag({controller: "admin/products", action: "search"}, method: "get", class: "navbar-form navbar-left", role: "navigation") do %>
    <div class="form-group">
      <a class="btn btn-primary btn-lg" href="/admin/articles/new">New Article search</a>
      <input type="text" class="form-control" placeholder="请输入产品名称" id="q" name="q">
      <input type="submit" value="搜索" class="btn btn-success">
    </div>
<% end %>
<div class="category">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>image</th>
      <th>title</th>
      <th>created_at</th>
      <th>operation</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |b| %>
        <tr>
          <td><%= b.id %></td>
          <td>
            <% b.photos.order("sort ASC").each do |g| %>
                <%= link_to(image_tag(g.image,height: "60"),
                            {
                                    :controller => "photos",
                                    :action => "edit",
                                    :id => "#{g.id}"
                            }
                    ) %>
            <% end %>
          </td>
          <td>
            <%= link_to b.title,
                        {
                                :controller => "products",
                                :action => "show",
                                :id => "#{b.id}",
                                :format => "html"
                        }
            %>
          </td>
          <td><%= b.updated_at.to_s(:long)%></td>
          <td>
            <%= link_to "edit",
                        {
                                :controller => "products",
                                :action => "edit",
                                :id => b.id
                        },
                        class: "btn btn-success"
            %>
            <%= link_to "destroy",
                        {
                                :controller => "products",
                                :action => "destroy",
                                :id => b.id
                        },
                        class: "btn btn-danger",
                        :method => 'delete',
                        data: { confirm: 'Are you sure?' }
            %>
          </td>
        </tr>
    <% end %>

    </tbody>
  </table>
  <div class="pages">
    <%= paginate @products, :theme=>'long' %>
  </div>
</div>